body {
    margin: 0;
    padding: 0;

    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

    color: white;

    user-select: none;

    overflow: hidden;
}

.swipe {
    width: 20vw;
    height: 20vw;

    border-radius: 10vw;
    
    text-align: center;
    line-height: 20vw;
    font-size: 1.3vw;
}

#outer-container {
    margin: 0;
    padding: 0;
    
    width: 100vw;
    height: 100vh;

    position: relative;

    background-color: antiquewhite;
}

#outer-container div {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

#swipe-left {
    left: 0;
    right: 67vw;

    background-color: mediumseagreen;
}

#design-container {
    left: 0;
    right: 0;

    padding: 0;

    width: 33vw;
    height: 90vh;

    line-height: 90vh;
    font-size: 2vw;

    border-radius: 20px;

    background-color: black;

    z-index: 100;
}

#design-container img {
    width: 33vw;
    height: auto;

    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

#swipe-right {
    left: 67vw;
    right: 0;

    background-color: lightcoral;
}

/*** ANIMATIONS ***/

.return-to-mid {
    animation: return-to-mid 0.5s ease;
    animation-fill-mode: both;
}

@keyframes return-to-mid {
    100% {
        transform: translateX(0px);
    }
}

.fade-out-left {
    animation: fade-out-left 0.5s ease;
    animation-fill-mode: both;
}

@keyframes fade-out-left {
    100% {
        opacity: 0;
        transform: translateX(-50vw) rotate(-60deg);
    }
}

.fade-out-right {
    animation: fade-out-right 0.5s ease;
    animation-fill-mode: both;
}

@keyframes fade-out-right {
    100% {
        opacity: 0;
        transform: translateX(50vw) rotate(60deg);
    }
}

.fade-in {
    animation: fade-in 0.5s ease;
    animation-fill-mode: both;
}

@keyframes fade-in {
    100% {
        opacity: 1;
        transform: scale(1);
    }
}